.App {
  text-align: center;
  margin-top: 50px;
}

.fetch-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

form {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

form label {
  margin-right: 10px;
}

form input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

form button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: lightseagreen;
  color: white;
  border: none;
}

form button:hover {
  background-color: #0056b3;
}

.clear-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: grey;
  color: white;
  border: none;
}

.clear-button:hover {
  background-color: lightblue;
}

.error {
  color: red;
  margin-top: 10px;
}

.App-footer {
  background-color: skyblue;
  padding: 10px;
  text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 10px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  color: blue;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
}